:root{
    --theme: #66CDAA; 
    --holder: #daf1da8c;
    --subholder:#b6f5b68c;
    --button:#81ada0;
}

body{
    margin: 0;
}
header {
    height: 70px;
    margin-top: 0;
    background-color: var(--theme);
}
h1 {
    text-align: center;
    margin-top: 0;
    line-height: 70px;
}
/*Use flexbox for the layout of main part*/
.flex-container, .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
/*Set the width of each column*/
.left-col, .right-col {
    width: 30%;
}
.middle-col {
    width: 40%;
    min-width: 500px;
}
/* if the width is smaller or equal to 500px, the left and right column will be hidden.*/
@media (max-width: 1059px) {
    .left-col, .right-col {
        display: none;
    }
    .middle-col {
        display: block;
    }
}
/*h2, .circl-intro {
    width: 500px;
    margin: 0 auto;
}*/
.circle-title-1 {
    width: 70%;
}
.circle-title-2{
    margin: auto;
}
.posts, .circle-title {
    width: 500px;
    background-color: var(--button);
    margin: 1em auto;
    padding: 10px 30px;
}
.circle-title {
    display: flex;
    width: 500px;
    background-color: var(--holder);
    margin: 1em auto;
}
.profile-image {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 10px;
}
.map-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}
.user-name, .profile-image {
    display: inline;
    vertical-align: middle;
}
/*.post-title {
    margin-top: 5px;
}*/
.post-image {
    /*margin: 0 4.5%;*/
    max-width: 100%;
    height: auto;
}
.holder{
    margin:10px;
    padding:1%;
}
#circle-holder{
    display:flex;
    flex-wrap:wrap;

    /*width:30%;*/
}
#circle{
    width:20%;
    margin:auto;
    text-align: center;
   

}

.circle{
    padding:10%;
    display:block;
    width:max-content;
    margin:auto;
    border-radius:50%;
    border-width: 1px;

    background-color:var(--subholder);

}

.circler{
    display:flex;
    width:200px;
    padding-bottom:0.5%;
}

.align-right{
    margin-left:auto;
}
.right-col{

}
.nav{
    display:flex;
    padding:2%;
    background-color: var(--holder);
    margin:auto;
    text-align: right; 
}
.search-bar {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.search-bar label input {
    margin-right: 10px;
    width: 75%;
}
.nav-bar {
    background-color: var(--subholder);
}

nav {
    text-align: center;
    background-color: var(--holder);
    padding: 1em;
}
nav a, .nav a {
    text-decoration: none;
    margin: auto 2em;
}
.reactions textarea, .post-comment-button {
    display: block;
    width: 495px;
    margin: 1em 0 1em auto;
}
.post-comment-button {
    text-align: right;
}
input, button,textarea, select{
    padding:5%;
    display:block;
    font-family:inherit;
    margin:10% auto;
    background-color: rgb(234, 241, 234);
    border:none;

  }
  #login input{

    min-width:300px;
  }

  button{
    background-color: var(--button);
    color:white;
    font-size:150%;
    border-radius:30%;
    margin-bottom:0;

  }
  button:hover{
    opacity:0.5;
  }
  :focus{
    background-color:white;
  }
  #not-login{

    font-size:70%;

  }