:root{
    --theme: #66CDAA; 
    --holder: #daf1da8c;
    --subholder:#b6f5b68c;
    --button:#81ada0;
}
header, main, footer {
    border: 1px solid red;
}
/*Use flexbox for the layout of main part*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-col, .middle-col, .right-col {
    border: 1px solid red;
}
/*Set the width of each column*/
.left-col, .right-col {
    width: 30%;
}
.middle-col {
    width: 40%;
    min-width: 500px;
}
/* if the width is smaller or equal to 500px, the left and right column will be hidden.*/
@media (max-width: 1059px) {
    .left-col, .right-col {
        display: none;
    }
    .middle-col {
        display: block;
    }
}
h2, .circl-intro {
    width: 500px;
    border: 1px solid red;
    margin: 0 auto;
}
.posts {
    width: 500px;
    background-color: var(--button);
    margin: 1em auto;
}
.circle-title {
    margin: 2em auto;
}
.profile-image {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 10px;
}
.map-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}
.user-name, .profile-image {
    display: inline;
    vertical-align: middle;
}
.post-content {
    padding: 10px;
}
.post-image {
    margin: 0 4.5%;
    max-width: 90%;
    height: auto;
}
.holder{
    margin:10px;
    padding:1%;
}
#circle-holder{
    display:flex;
    flex-wrap:wrap;
    /*width:30%;*/
}

.circle{
    
    height:100px;
    width:30%;
    margin:auto;
    line-height:100px;
    text-align: center;

    border-radius:50%;
    border-width: 1px;
    background-color:var(--subholder);

}

.circler{
    display:flex;
    width:200px;
    padding-bottom:0.5%;
}

.align-right{
    margin-left:auto;
}